<div *ngIf="logado()">
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" >Desafio</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item" routerLinkActive="active" *ngIf="pegarRole() == 'ADMIN'">
        <a class="nav-link"  routerLink="cliente/registrar">Novo Cliente</a>
      </li>
      <li class="nav-item" routerLinkActive="active">
        <a class="nav-link" routerLink="cliente/gerenciar" >Todos Cliente</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" (click)="sair()" style="cursor: pointer">Sair</a>
      </li>
    </ul>
  </div>
</nav>
</div>